Source: openmediavault-plexmediaserver
Section: misc
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 7 )
Standards-Version: 3.9.3
Homepage: http://omv-extras.org/

Package: openmediavault-plexmediaserver
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 0.5), plexmediaserver
Description: OpenMediaVault Plex Media Server plugin
 Stream media everywhere(tm)
