Source: openmediavault-plexmediaserver
Section: net
XB-Plugin-Section: multimedia
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 3.9.6
Homepage: http://omv-extras.org/

Package: openmediavault-plexmediaserver
Architecture: all
Depends: ${misc:Depends}, openmediavault (= 3.0.13), plexmediaserver,
 git-core, python
Description: OpenMediaVault Plex Media Server plugin
 Stream media everywhere(tm)
 .
 Plex Media Server simplifies your life by organizing all of your
 personal media, making it beautiful and streaming it to all of
 your devices.
